@font-face {
  font-family: Subjectivity;
  src: url(Subjectivity-Regular.woff);
}

@font-face {
  font-family: Subjectivity;
  src: url(Subjectivity-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: Subjectivity;
  src: url(Subjectivity-ExtraBold.woff);
  font-weight: 900;
}

body {
  background: #EAE8E8;
  color: #0514D4;
  padding: 4em 10em;
  font-family: Subjectivity, Gill Sans, sans-serif;
  position: relative;
}

/*bg boxes*/
body::before,
body::after  {
    content: "";
    height: calc(100% - 3em);
    width: calc(100% - 3em);
    min-height: calc(100vh - 3em);
    min-width: calc(100vw - 3em);
    top: 1em;
    left: 1em;
    border: 1px solid #0514D4;
    position: absolute;
}

body::after {
  top: 2em;
  left: 2em;
}

a {
  text-decoration: underline;
  color: #0514D4;
}

h2 {
  font-size: 3em;
  font-family: Subjectivity;
  font-weight: 900;
}

hr {
  height: 1px;
  background-color: #0514D4;
}

.logos {
  width: 100%;
  margin: 1em;
  justify-content: center;
}

.logos > .cell {
  border: 2px solid rgb(96 139 168);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-lyft, .logo-toast, .logo-compiler, .logo-zipcar, .logo-numina {
  transition: fill 0.3s ease;
}

.logo-lyft:hover {
  fill: #EA0A8C;
}

.logo-toast:hover { /*fix*/
  fill: #FF4C00;
}
